<%- include("partials/header") %>
<section class="mt-5">
	<h2 class="future"><span class="btm-border">Future</span></h2>

	<div class="container mt-5">
	
	<div class="row text-center">
		<div class="col-md-6 order-2 order-md-1">
			<div class="shadow p-4 mb-5 bg-white rounded why-card">
				<h4>Drone 2D Mapping</h4>
				<p>These days drones are helping people to map large areas in a quick, cost effective manner and to provide hard data that helps expedite workflows in a variety of commercial settings.</p>
			</div>
		</div>
		<div class="col-md-6 order-1 order-md-2">
			<img class="img fluid" src="/images/drone-map.svg" width="250" height="250" alt="drone-map illustration" >
		</div>
	</div>

	<div class="row text-center mt-4">
		<div class="col-md-6">
			<img class="img fluid" src="/images/instant-space.svg" width="250" height="250" alt="instant-space illustration" >
		</div>
		<div class="col-md-6">
			<div class="shadow p-4 mb-5 bg-white rounded why-card">
				<h4>Instant Space Management</h4>
				<p>Managing inventory in your warehouse or distribution center is one of many challenges you face along the supply chain, and a primary challenge in DCs is limited space.</p>
			</div>
		</div>
	</div>

	<div class="row text-center mt-4">
		<div class="col-md-6 order-2 order-md-1">
			<div class="shadow p-4 mb-5 bg-white rounded why-card">
				<h4>Real-Time Tracking</h4>
				<p>Method of finding the current location of a person, vehicle, or object in real time using a GPS device. Using the signals that a GPS device constantly receives from the satellite, the movement of the person or vehicle can be tracked.</p>
			</div>
		</div>
		<div class="col-md-6 order-1 order-md-2">
			<img class="img fluid" src="/images/real-time.svg" width="250" height="220" alt="real-time illustration" >
		</div>
	</div>

	<div class="row text-center mt-4">
		<div class="col-md-6">
			<img class="img fluid" src="/images/recycle-reuse.svg" width="250" height="250" alt="recycle-reuse illustration" >
		</div>
		<div class="col-md-6">
			<div class="shadow p-4 mb-5 bg-white rounded why-card">
				<h4>Reusability / Recycle</h4>
				<p>Recycling involves the collection of used and discarded materials processing these materials and making them into new products. Lots of products and things in warehouse can easily be recycled in order to be reused later on.</p>
			</div>
		</div>
	</div>

	<div class="row text-center mt-4">
		<div class="col-md-6 order-2 order-md-1">
			<div class="shadow p-4 mb-5 bg-white rounded why-card">
				<h4>Deceentralized</h4>
				<p>It is the process by which the activities of an organization, particularly those regarding planning and decision making, are distributed or delegated away from a central, authoritative location or group.</p>
			</div>
		</div>
		<div class="col-md-6 order-1 order-md-2">
			<img class="img fluid" src="/images/decentralize.svg" width="250" height="250" alt="decentralize illustration" >
		</div>
	</div>

	</div>
</section>
<%- include("partials/footer") %>

