<%- include("partials/header")%>
	<header class="home-intro">
	<div class="container">
	<div class="row">
		<div class="col-md-6 intro-text">
			<p>Coming together is a Beginning</p>
			<p>Keeping together is  Process</p>
			<p>Working together is  Success</p>
		</div>
		<div class="col-md-6 intro-image">
			<a href="https://www.freepik.com/free-photos-vectors/car"><img src="/images/warehouse-intro.png" class="img-fluid" alt="warehouse"></a>
		</div>
	</div>
	<div class="row justify-content-center">
		<button class="downwards"><img class="downwards-img" src="/images/down-arrow.svg" width="30" height="45" alt="downwards"></button>
	</div>
</div>
</header>

<section class="automation">

	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f0f7d4" fill-opacity="1" d="M0,96L34.3,90.7C68.6,85,137,75,206,90.7C274.3,107,343,149,411,170.7C480,192,549,192,617,170.7C685.7,149,754,107,823,106.7C891.4,107,960,149,1029,144C1097.1,139,1166,85,1234,58.7C1302.9,32,1371,32,1406,32L1440,32L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path>
	</svg>

	<div class="container">
		<div class="text-center">

		<h3 class="automation-headline">why automation?</h3>
		<img class="img-fluid automation-img" src="/images/automation.png" alt="automation">
		<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead">Automation, in any field, brings in the benefits of increased productivity and reduced costs. It is the creation of technology and its application in order to control and monitor the production and delivery of various goods and services. It performs tasks that were previously performed by humans. Being used in a number of areas such as manufacturing, transport, utilities, defense, facilities, operations and lately, information technology.</p>
  </div>
</div>

		<div class="row text-center">

			<div class="col-md-4">
				<img width="250" height="250" style="" src="/images/incremental-growth.svg" alt="incremental-growth">
				<h6>Incremental Growth</h6>
				<p class="px-2">The first and foremost factor that necessitates automation in agile testing is the short development cycle.</p>
			</div>
			<div class="col-md-4">
				<img width="250" height="250" src="/images/frequent-changes.svg" alt="frequent-changes">
				<h6>Frequent Changes</h6>
				<p class="px-2">The requirements develop with time and often change depending on customer priorities, market trends and end-user needs.</p>
			</div>
			<div class="col-md-4">
				<img width="250" height="250" src="/images/exhaustive-testing.svg" alt="exhaustive-testing">
				<h6>Exhaustive Testing</h6>
				<p class="px-2">With automation, testing can be repeated as many times allowing detailed and exhaustive examination of the code.</p>
			</div>
		</div>

		<div class="row text-center mt-3">
			<div class="col-md-4">
				<img width="250" height="250" style="" src="/images/automating-test.svg" alt="automating-test">
				<h6>Automating test support</h6>
				<p class="px-2">Automating not only for executing test scripts against the code but can also be used to automate other testing activities like data set up, test result validation and test reporting.</p>
			</div>
			<div class="col-md-4">
				<img width="250" height="250" src="/images/continuous-testing.svg" alt="continuous-testing">
				<h6>Continuous Testing</h6>
				<p class="px-2">Test coverage extends to not only the newly added code but also the code from previous iterations, to ensure previous functionality is not broken due to the newly added one.</p>
			</div>
			<div class="col-md-4">
				<img width="250" height="250" src="/images/code-quality.svg" alt="code-quality">
				<h6>Visiblity into code quality</h6>
				<p class="px-2">Automation testing allows the tester and developer to take a quick peek into the code quality and they have more time to react in case the code is not up to expectations.</p>
			</div>
		</div>
	</div>
</div>

	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f0f7d4" fill-opacity="1" d="M0,64L34.3,64C68.6,64,137,64,206,74.7C274.3,85,343,107,411,133.3C480,160,549,192,617,176C685.7,160,754,96,823,64C891.4,32,960,32,1029,53.3C1097.1,75,1166,117,1234,122.7C1302.9,128,1371,96,1406,80L1440,64L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
</section>

<section class="features">
		<div class="container">
		<h3 class="automation-headline text-center">FEATURES</h3>
		<div class="row text-center mt-5">
			<div class="col-md-3">
				<div class="shadow p-3 mb-5 bg-white rounded">
				<h5>WHY ROOF & BOTS</h5>
				<img src="/images/roof-and-bots.svg" width="200" height="200" alt="roof-bot illustration">
				<p>Why should you spend your time on this site, explore to find out now.</p>
				<button class="btn">Read More</button>
				</div>
			</div>
			<div class="col-md-3">
				<div class="shadow p-3 mb-5 bg-white rounded">
				<h5>SIMULATION</h5>
				<img src="/images/simulation.svg" width="200" height="200" alt="simulation illustration">
				<p>This was our solution to the routing problem that we presented in SIH-2019.</p>
				<button class="btn">Read More </button>
				</div>

			</div>
			<div class="col-md-3">
				<div class="shadow p-3 mb-5 bg-white rounded">
				<h5>SUPPLY CHAIN</h5>
				<img src="/images/supply-chain.svg" width="200" height="200" alt="supply-chain illustration">
				<p>A brief demo of how the things are being managed in supply chain.</p>
				<button class="btn">Read More</button>
				</div>
			</div>
			<div class="col-md-3">
				<div class="shadow p-3 mb-5 bg-white rounded">
				<h5>FUTURE</h5>
				<img src="/images/future.svg" width="200" height="200" alt="future illustration">
				<p>Possible upgrades and glance towards what future holds for Roof and Bots</p>
				<button class="btn">Read More</button>
				</div>
			</div>
		</div>
		</div>
	</section>
<%- include("partials/footer")%>
