<%- include("partials/header") %>
<section class="mt-5">
	<h2 class="why-us"><span class="btm-border">Why roof and bots?</span></h2>

	<div class="container mt-5">
	
	<div class="row text-center">
		<div class="col-md-6 order-2 order-md-1">
			<div class="shadow p-4 mb-5 bg-white rounded why-card">
				<h4>Affordability</h4>
				<p>Metered services (also called pay-per-use) is an type of payment structure in which a customer has access to potentially unlimited resources but only pays for what they actually use.</p>
			</div>
		</div>
		<div class="col-md-6 order-1 order-md-2">
			<img class="img fluid" src="/images/affordability.svg" width="250" height="250" alt="affordability illustration" >
		</div>
	</div>

	<div class="row text-center mt-4">
		<div class="col-md-6">
			<img class="img fluid" src="/images/incremental-growth.svg" width="250" height="250" alt="incremental-growth illustration" >
		</div>
		<div class="col-md-6">
			<div class="shadow p-4 mb-5 bg-white rounded why-card">
				<h4>Industry Pace Up</h4>
				<p>Allow organizations to control and administer warehouse operations from the time goods or materials enter the warehouse until they move out. Operations in a warehouse include inventory management, picking processes and auditing.</p>
			</div>
		</div>
	</div>

	<div class="row text-center mt-4">
		<div class="col-md-6 order-2 order-md-1">
			<div class="shadow p-4 mb-5 bg-white rounded why-card">
				<h4>Green Logistics</h4>
				<p>Reducing encitronmental and other negative impacts associated with the movement and distribution of supplies. Green supply chains seek to reduce negative environmental sourcing/distribution systems and managing reverse logistics to eliminate inefficiencies.</p>
			</div>
		</div>
		<div class="col-md-6 order-1 order-md-2">
			<img class="img fluid" src="/images/green-logistics.svg" width="300" height="250" alt="green-logistics illustration" >
		</div>
	</div>

	<div class="row text-center mt-4">
		<div class="col-md-6">
			<img class="img fluid" src="/images/transparency.svg" width="250" height="175" alt="transparency illustration" >
		</div>
		<div class="col-md-6">
			<div class="shadow p-4 mb-5 bg-white rounded why-card">
				<h4>Transparency</h4>
				<p>Ability to see how their warehouse works in real time and to be able to see the various organizational components down to the very last detail.</p>
			</div>
		</div>
	</div>

	<div class="row text-center mt-4">
		<div class="col-md-6 order-2 order-md-1">
			<div class="shadow p-4 mb-5 bg-white rounded why-card">
				<h4>Optimize Environment Footprint Warehouse</h4>
				<p>Controlling lights efficiently in warehouse which produce less emmissions. Properly insulated doors to maintain a steady internal temperature. Reudce stains in air inside the warehouse and maintain the rechargeable battery powered vehicles.</p>
			</div>
		</div>
		<div class="col-md-6 order-1 order-md-2">
			<img class="img fluid" src="/images/optimize-footprint.svg" width="300" height="300" alt="optimize-footprint illustration" >
		</div>
	</div>

	<div class="row text-center mt-4">
		<div class="col-md-6">
			<img class="img fluid" src="/images/warehouse-space.svg" width="250" height="250" alt="warehouse-space illustration" >
		</div>
		<div class="col-md-6">
			<div class="shadow p-4 mb-5 bg-white rounded why-card">
				<h4>Warehouse Space Calculation Flexible Storage</h4>
				<p>Able to analyze the vacant spaces/stocks which are not moving from one year. Aim to handle high efficiently by putting frequently purchased items in order for fastest retrieval.</p>
			</div>
		</div>
	</div>

	</div>
</section>
<%- include("partials/footer") %>