<%- include("partials/header") %>
<section class="my-5">
	<div class="container">
	<h2 class="why-us"><span class="btm-border">Simulation</span></h2>
		<div class="row mt-5 justify-content-center">
<canvas id = "mycanvas" style="background-color: #666" height = "550" width="100%"></canvas></div>
</div>
</section>
<%- include("partials/footer") %>